body {
    padding: 150px 0 200px;
    background: rgb(92,49,215);
    font-family: "Sora", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 950px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wanderer {
    position: relative;
    height: 950px;
    width: 950px;
}

.bar  {
    position: absolute;
    width: 800px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bar div {
    background: white;
    width: 100%;
    height: 100%;
    transition: transform 5s ease-in-out;
}

.bar-1 {transform: rotate(45deg)}
.bar-2 {transform: rotate(90deg)}
.bar-3 {transform: rotate(135deg)}

.tm {
    color: white;
    display: block;
    position: absolute;
    right: 150px;
    top: 100px;
}